{% extends "base.html.twig" %}

{% block content %}
    {% if (data.greeting != null ) %}
    <p><strong>{{data.greeting}}</strong></p>
    {% endif %}
    <p>{{data.name}}</p>
    <p>{{data.title}}</p>
    <p>{{data.message}}</p>
    

   

{% endblock %}