{% for item in routes %}
  {% for key, route in item %}
    {% if route != 'error' and key != 'template' and key != 'controller' and key != 'id' and route != 'editar' %}

      {% if logged == true  and route != 'cadastrar' and route != 'login' %}
        <a  class="nav-link" href="{{ route }}">{{ route }}</a>
      {% endif %}
      {% if logged == false and path != route and route != 'logout' %}
        <a  class="nav-link" href="{{ route }}">{{ route }}</a>
      {% endif %}

    {% endif %}
  {% endfor %}
{% endfor %}
